<div class="page">
    <h2 class="title">
</h2>

    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Create Folder</strong>


                </div>

                <div class="panel-body">

                    <!--                    {{user}}-->
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">

                        <div class="form-group">
                            <label for="exampleInputEmail1">PushID</label>
                            <input type="text" class="form-control" ng-model="createdev.name" placeholder="Name Of Folder" required>
                        </div>

                        <div class="text-center" style="padding-bottom:20px;" ng-click="createFolder()">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>

                
            </section>

            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>User Folder</strong>
                    <strong class="float_left" ng-click="createFolder()">Creat Folder</strong>

                </div>

                <div class="panel-body" ng-repeat="dev in Folder">

                    <!--                    {{user}}-->
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">

                        <div class="form-group">
                            <label for="exampleInputEmail1">PushID</label>
                            <input type="text" class="form-control" ng-model="dev.name" placeholder="Name Of Folder" required>
                        </div>

                        <div class="text-center" style="padding-bottom:20px;">
                            <button type="submit" class="btn btn-primary" ng-click="updateFolder(dev)">Update</button>
                            <button type="submit" class="btn btn-primary" ng-click="deleteFolder(dev)">Delete</button>
                        </div>

                    </form>
                </div>
                <div class="panel-body" ng-if="Folder==''">
                    <div class="text-center" style="padding-bottom:20px;">
                     No Folder...
                    </div>
                </div>
            </section>
        </div>
    </div>
