<div class="page">
    <h2 class="title">
</h2>

    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Create note</strong>
                </div>

                <div class="panel-body">

                    <!--                    {{user}}-->
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" ng-model="createdev.title" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Color</label>
                            <input type="text" class="form-control" ng-model="createdev.color" placeholder="Color" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Folder</label>
                            <select class="form-control" ng-model="createdev.folder" ng-options="f.folder._id as f.folder.name for f in folder">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Reminder Time</label>
                            <input type="text" class="form-control" ng-model="createdev.remindertime" placeholder="Reminder Time" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">TimeBomb</label>
                            <input type="text" class="form-control" ng-model="createdev.timebomb" placeholder="Time Bomb" required>
                        </div>
                        <div class="form-group">
                            <label>Tags</label>
                            <div class="panel-body">
                                <a ng-click="addcreateTag(createdev);" class="btn btn-success">Add Tag</a>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Tags</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tag in createdev.tags">
                                            <td>
                                                <input type="text" ng-model="tag.value" class="form-control">
                                            </td>
                                            <td>
                                                <input class="bt btn-danger" type="button" ng-click="removecreateTag(createdev.tags.indexOf(tag),createdev.tags);" value="Delete">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center" style="padding-bottom:20px;" ng-click="createnote(createdev)">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </section>

            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>User note</strong>

                </div>

                <div class="panel-body" ng-repeat="dev in Note">

                    <!--                    {{user}}-->
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" ng-model="dev.note.title" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Color</label>
                            <input type="text" class="form-control" ng-model="dev.note.color" placeholder="Color" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Folder</label>
                            <select class="form-control" ng-model="dev.note.folder" ng-options="usr.folder._id as usr.folder.name for usr in folder">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Reminder Time</label>
                            <input type="text" class="form-control" ng-model="dev.note.remindertime" placeholder="Reminder Time" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">TimeBomb</label>
                            <input type="text" class="form-control" ng-model="dev.note.timebomb" placeholder="Time Bomb" required>
                        </div>
                        <div class="form-group">
                            <label>Tags</label>
                            <div class="panel-body">
                                <a ng-click="addupdateTag(dev);" class="btn btn-success">Add Tag</a>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Tags</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tag in dev.note.tags">
                                            <td>
                                                <input type="text" ng-model="tag.value" class="form-control">
                                            </td>
                                            <td>
                                                <input class="bt btn-danger" type="button" ng-click="removeupdateTag(dev.note.tags.indexOf(tag), dev);" value="Delete">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="text-center" style="padding-bottom:20px;">
                            <button type="submit" class="btn btn-primary" ng-click="updatenote(dev)">Update</button>
                            <button type="submit" class="btn btn-primary" ng-click="deletenote(dev)">Delete</button>
                        </div>
                    </form>
                </div>
                <div class="panel-body" ng-if="note==''">
                    <div class="text-center" style="padding-bottom:20px;">
                        No note...
                    </div>
                </div>
            </section>
        </div>
    </div>