 
   <section class="panel panel-default" style="border-radius:0px">
    <div class="panel-heading panel-hdr">Users Subnavigation</div>

    <div class="panel-body">
        <div class="">
            <a href="#/device/{{usr}}" class="btn btn-default btn-block">Device</a>
            <a href="#/folder/{{usr}}" class="btn btn-default btn-block">Folder</a>
            <a href="#/share/{{usr}}" class="btn btn-default btn-block">Share</a>
            <a href="#/feeds/{{usr}}" class="btn btn-default btn-block">Feeds</a>
            <a href="#/note/{{usr}}" class="btn btn-default btn-block">Note</a>
        </div>
    </div>

</section>