<div class="container-fluid">
   <div class="row templatemain header">
       <div class="col-md-12">
           <div ng-include="template.header" class="template header"></div>
       </div>
   </div>
    <div class="row templatemain maincontent">
        <div class="col-md-3 templatemain menu">
            <div ng-include="template.menu" class="template menu"></div>
        </div>    
        <div class="col-md-9 templatemain content">
            <div ng-include="template.content" class="template content"></div>
        </div>    
    </div>
    <div class="row templatemain footer">
        <div class="col-md-12">
            <div ng-include="template.footer" class="template footer"></div>
        </div>
    </div>
</div>


